/* ---------- Font rules ---------- */
@font-face {
    font-family: 'Orbitron', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);
}

@font-face {
    font-family: 'Victor Mono', monospace;
    src: url(https://fonts.googleapis.com/css2?family=Orbitron&family=Victor+Mono&display=swap);
}


/* ---------- Color pallet ---------- */
:root {
    --psgray: #3E697A;
    --bgray: #989A8C;
    --onyx: #32373A;
    --licorice: #190A0D;
    --rosewood: #700B17;
}


/* ---------- General rules ---------- */
* {
    font-family: 'Victor Mono', monospace;
    color: var(--bgray);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-image: linear-gradient(#190A0D70, #32373A70, #3E697A70);
    font-size: 0;
    margin: 0;
    padding: 0;
}

/* --- Header/nav --- */
header {
    position: sticky;
    background-color: var(--licorice);
    z-index: 10;
    width: auto;
    max-height: fit-content;
    box-shadow: 0 5px 6px #190A0D70;
}

ul {
    list-style-type: none;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 5px;
    margin: 10px 0 10px;
}

a {
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: var(--rosewood);
    text-decoration: none;
    padding: 5px;
    text-shadow: -3px 3px #700B1750;
}


/* --- Main --- */

main {
    font-size: 20px;
}

main h1, main h2 {    
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

blockquote {
    margin: 0;
}

.title {
    background-size: cover;
    background-position: center;
    display: block;
    height: fit-content;
    text-align: center;
    letter-spacing: 5px;
    width: 100%;
    font-size: 1.1em;
    padding: 60px 0;
}

.title p {
    color: #989A8C90;
    text-shadow: 0 5px 2px #989A8C50;
    margin: 0;
}

.title h1 {
    color: var(--bgray);   
    margin: 0;
    text-shadow: 0 4px 2px #190A0D90;
}

/* --- Index --- */
.home {
    display: inline-flex;
    flex-flow: column-reverse wrap;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.home article {
    text-align: center;
    align-self: center;
    width: auto;
    padding: 10px 30px;
    font-size: 20px;
    text-shadow: 3px 3px 4px #0005;
}

.home img {
    object-fit: contain;
    max-width: 100vw;
    filter: drop-shadow(0 -8px 8px #0003);
    filter: drop-shadow(0 8px 8px #0003);
}

#welcome {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 0;
    width: 100%;
    height: 250px;
}

#welcome img {
    position: absolute;
    align-self: center;
    width: auto;
    max-height: 100px;
    filter: drop-shadow(10px 10px 2px #000800);
}

#titleBg {
    background-image: url(../assets/video/titleBackground.gif);
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    width: 100%;
    height: auto;
    z-index: -1;
}

#home1 {
    box-shadow: 0 -5px 6px #0005;
}

#home2 {
    flex-direction: column;
}

#lyrics {
    margin-top: 0;
    text-align: left;
    white-space: pre-line;
}

#home3 div article {
    padding: 30px 10px;
}

#home3 article:last-of-type {
    padding-top: 0;
}

/* Biography */
#titleBiography {
    background-image: url(../assets/image/biography/background.jpg);
}

#biography {
    font-size: 0.9em;
    text-align: left;
    padding: 20px 20px 0;
}

#discography {
    text-align: center;
    padding: 30px 0;
}

#discography h1, #discography h2 {
    text-shadow: 0 8px 8px #190A0D90;
    padding-top: 20px;
}

#discography img {
    width: 80vw;
    height: auto;
}

#discography figure {
    padding-bottom: 20px;
}

#discography figcaption {
    padding-top: 10px;
}

/* Portfolio */
#titlePortfolio {
    background-image: url(../assets/image/portfolio/background.jpeg);
}

#titlePortfolio p {
    color: #700B1790;
    text-shadow: 0 5px 2px #700B1790;
}

#titlePortfolio h1 {
    color: var(--rosewood);
    text-shadow: 0 4px 2px #700B1790;
}

#media {
    text-align: center;
    padding-top: 20px;
}

#media img {
    width: 100vw;
    height: auto;
    padding: 20px 0;;
}

#video {
    text-align: center;
    padding: 10px 0 40px;
}

#video iframe {
    width: 90vw;
    height: auto;
    margin: 10px 0;
    border: 2px solid #700B1790;
    box-shadow: 0 8px 10px #0009;
}

#media h1, #video h1, #video h2 {
    text-align: center;
    letter-spacing: 8px;
    text-shadow: 0 5px 5px #190A0D90;
}

/* --- Contact --- */
#titleContact {
    background-image: url(../assets/image/contact/background.jpg);
}

#titleContact p, #titleContact h1 {
    color: var(--psgray);
    text-shadow: 0 3px 4px #0009;
}

#newsletter {
    text-align: center;
    margin-bottom: 15px;
}

#newsletter h1 {
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 10px 10px;
    padding: 10px 5px 20px;
    border-bottom: 3px double #989A8C90;
}

#newsletter > p {
    font-size: 0.8em;
    text-align: center;
    padding: 0 40px;
}

#newsletter li > p {
    font-size: 1.3em;
    margin: 0 0 20px;
}

#newsletter label {
    display: flex;
    justify-self: left;
    padding-bottom: 10px;
}

#newsletter input {
    margin: 0 0 5px;
    padding: 5px;
    text-align: left;
}

#newsletter input:focus, select:focus {
    color: var(--bgray);
    background-color: var(--onyx);
}

#newsletter input[type=submit] {
    font-family:  'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 15px 0;
    padding: 10px;
    color: var(--licorice);
    text-shadow: 0 1px 2px #0009;
    background-color: var(--bgray);
    border: 2px solid #190A0D90;
}

#newsletter select, input[type=text], input[type=tel], input[type=email] {
    width: 80vw;
    color: var(--psgray);
    background-color: #0009;
    border: 2px solid #3E697A90;
    border-radius: 5px;
}

#newsletter .checkbox {
    font-size: 0.5em;
    padding: 10px 50px 0;
}

#newsletter .checkbox label {
    padding-top: 10px;
}

#newsletter .checkbox input[type=checkbox] {
    width: 15px;
    height: 15px;
}

#genderRadio {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding: 0 20px;
}

#genderRadio .radio {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

#genderRadio .radio label {
    padding: 0 5px 5px 10px;
}

#genderRadio .radio label > p {
    padding: 4px 10px 0 0;
    margin: 0;
}

#genderRadio .radio input[type=text] {
        width: 40vw;
        padding: 3px 0 0;
}

/* --- Footer --- */
footer {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--licorice);
    width: 100%;
    max-height: fit-content;
    padding: 5px;
    box-shadow: 0 -3px 8px #0008;
}

footer h2 {
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--rosewood);
    margin: 20px 0 0;
    padding-bottom: 30px;
    align-self: center;
    justify-self: center;
    text-shadow: 3px 3px 5px #0005;
}

#socials {
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
    color: var(--rosewood);
    filter: invert(9%) sepia(45%) saturate(7063%) hue-rotate(346deg) brightness(99%) contrast(100%);
}

#socials a {
    margin: 0 10px 10px;
}



/* ---------- Media quary tablet ---------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

    /* --- Header/nav --- */
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    li {
        padding: 10px 10px;
    }

    a {
        font-size: 20px;
        letter-spacing: 8px;
        padding: 5px;
    }


    /* --- Main --- */
    main {
        font-size: 30px;
    }

    .title {
        letter-spacing: 8px;
        font-size: 1.4em;
        padding: 70px 0;
    }

    /* --- Index --- */
    .home article {
        width: 80vw;
        padding: 1.5em 1em;
        font-size: 30px;
    }

    #welcome {
        padding-top: 0;
        width: 100%;
        height: 400px;
    }

    #welcome img {
        max-height: 180px;
    }

    #home3 div {
        align-self: center;
    }

    /* Biography */
    #titleBiography h1 {
        text-shadow: 0 7px 5px #190A0D90;
    }

    #biography {
        font-size: 0.9em;
        padding: 40px 40px 0;
    }

    #discography {
        padding: 30px 0;
    }

    #discography figcaption {
        font-size: 1.4em;
    }

    /* Portfolio */
    #video {
        margin-top: 1em;
    }
    
    #video iframe {
        width: 90vw;
        height: 15em;
        margin: 10px 0;
        border: 0.15em solid #700B1790;
        box-shadow: 0 0.35em 0.5em #0009;
    }

    #media img {
        width: 45vw;
        padding: 3px 0;
    }

    #media div {
        columns: 2;
        column-gap: 1px;
        margin: 0 30px
    }
    
    #media h1, #video h1, #video h2 {
        font-size: 1.8em;
        letter-spacing: 8px;
        text-shadow: 0 5px 5px #190A0D90;
    }

    /* --- Contact --- */
    #titleContact {
        background-image: url(../assets/image/contact/background.jpg);
    }

    #titleContact p, #titleContact h1 {
        color: var(--psgray);
        text-shadow: 0 6px 5px #0009;
    }

    #newsletter {
        margin-bottom: 1.2em;
    }

    #newsletter label {
        padding-bottom: 0.5em;
    }

    #newsletter input {
        padding: 0.3em;
    }

    #newsletter li > p {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    #newsletter input[type=submit] {
        font-size: 1em;
        margin: 1.5em 0;
    }

    #newsletter .checkbox {
        font-size: 0.7em;
        padding: 0.8em 5em 0;
    }

    #newsletter .checkbox label {
        padding-top: 1.5em;
    }
    
    #newsletter .checkbox input[type=checkbox] {
        width: 1.2em;
        height: 1.2em;
    }

    #genderRadio {
        padding: 0 1.5em;
    }

    #genderRadio .radio {
        padding: 0.3em;
    }

    #genderRadio .radio label {
        padding: 0 0.7em 0.1em 0.5em;
    }

    #genderRadio .radio label > p {
        padding-top: 0.01em;
    }

    #genderRadio .radio input[type=radio] {
        width: 0.7em;
        height: 0.7em;
        margin-top: 0.2em;
    }

    #genderRadio .radio input[type=text] {
            padding-top: 0.2em;
    }

    /* --- Footer --- */
    footer {
        padding: 15px 0;
    }

    footer h2 {
        font-size: 40px;
        letter-spacing: 8px;
    }

    #socials {
        padding-bottom: 15px;
    }   

}

/* ---------- Media quary pc/laptop ---------- */
@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1600px) {

    /* --- Header/nav --- */
    header {
        top: 0;
        width: 100%;
        box-shadow: 0 5px 6px #190A0D70;
    }

    ul {
        display: flex;
    }

    li {
        margin: 30px 20px;
    }

    a {
        font-size: 25px;
        letter-spacing: 6px;
        border-radius: 15%;
    }

    a:hover {
        color: var(--psgray);
        text-decoration: underline var(--psgray);
        text-shadow: 3px 3px #3E697A20;
        
        border-color: black;
    }

    /* --- Main --- */
    main {
        font-size: 50px;
    }

    .title {
        letter-spacing: 15px;
        font-size: 1.1em;
        padding: 3em 0;
    }

    /* --- Index Main --- */
    .home {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .home article {
        text-align: center;
        padding: 0 50px;
        margin: 0;
        font-size: clamp(15px, 1.4vw, 30px);
    }

    .home img {
        max-width: calc(50vw - ((100vw - 100%)/2));
    }

    #welcome {
        height: 600px;
    }

    #welcome img {
        width: auto;
        min-height: 250px;
    }

    #home2 {
        flex-direction: row;
    }

    #lyrics {
        text-align: left;
        white-space: pre-line;
        justify-content: flex-start;
    }

    #home3 div {
        align-self: center;
        display: flex;
        flex-flow: column wrap;
        padding: 0 50px;
    }

    #home3 article:last-of-type {
        order: 0;
    }


    /* Biography */
    #titleBiography p {
        text-shadow: 0 5px 7px #989A8C90;
    }

    #titleBiography h1 {
        text-shadow: 0 0.05em 0.05em #190A0D90;
    }

    #biography {
        font-size: 0.5em;
        padding: 3em 6em 0;
    }

    #discography {
        font-size: 0.5em;
        padding: 0.8em 0 2em;
    }

    #discography h1, #discography h2 {
        letter-spacing: 8px;
        word-spacing: 20px;
        text-shadow: -8px 10px 5px #190A0D90;
        padding-top: 0.5em;
    }

    #discography div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    }

    #discography img {
        width: 30vw;
    }

    #discography figure {
        padding: 0 1em 1em;
    }

    #discography figcaption {
        padding-top: 1em;
        font-size: 0.7em;
    }


    /* Portfolio */
    #titlePortfolio h1 {
        text-shadow: 0 0.05em 0.05em #700B1790;
    }

    #video {
        margin-top: 1.8em;
    }

    #media {
        margin: 0 0.2em
    }

    #media h1 {
        padding: 0.5em 0;
    }

    #video h2 {
        font-size: 1.2em;
    }
    
    #media h1, #video h1 {
        font-size: 1.8em;
        letter-spacing: 0.3em;
        text-shadow: 0 0.12em 8px #190A0D90;
    }

    #media img {
        width: 38vw;
        padding: 0.01em 0;
        transition: .8s ease-in-out
    }

    #media img:hover {
        transform: scale(1.2);
        box-shadow: 0 1em 1em #0009;
    }

    #media div {
        columns: 2;
        column-gap: 0;
        margin: 0 3.5em;
    }
    
    #video iframe {
        width: 45vw;
        height: 8em;
        margin: 0.5em 0;
        border: 0.07em solid #700B1790;
        box-shadow: 0 0.3em 0.3em #0009;
    }

    /* --- Contact --- */
    #titleContact p, #titleContact h1 {
        text-shadow: 0 0.08em 0.05em #0009;
    }

    #newsletter {
        margin-bottom: 1.2em;
    }

    #newsletter h1 {
        font-size: 1.4em;
        letter-spacing: 0.1em;
        margin: 0.5em 0.5em;
        padding: 0.1em 1em 0.6em;
        border-bottom: 0.1em double #989A8C90;
    }

    #newsletter form {
        font-size: 0.4em;
    }

    #newsletter input {
        margin-bottom: 1em;
        padding: 0.3em;
    }

    #newsletter select {
        width: 40vw;
        padding: 0.12em;
    }

    #newsletter > p {
        font-size: 0.8em;
        padding: 0.5em 5em;
    }

    #newsletter li > p {
        font-size: 1.3em;
        margin-bottom: 1em;
    }

    #newsletter input[type=submit] {
        font-size: 1.6em;
        margin: 1em 0;
    }

    #newsletter input[type=text] {
        width: 40vw;
    }

    #newsletter input[type=tel], input[type=email] {
        width: 84vw;
    }

    #newsletter .checkbox {
        display: flex;
        flex-flow: row;
        font-size: 0.8em;
        padding: 1em 1em 1em;
    }

    #newsletter .checkbox input[type=checkbox] {
        width: 1.2em;
        height: 1.2em;
        margin: 0.6em 1em 0 0;
    }

    #genderRadio {
        display: flex;
        flex-flow: row wrap;
        padding: 0 2em;
    }

    #genderRadio .radio {
        padding: 1em;
    }

    #genderRadio .radio label {
        padding: 0 1em 1.1em 0.5em;
    }

    #genderRadio .radio label > p {
        padding: 0.1em 1em 0 0;
    }

    #genderRadio .radio input[type=text] {
            width: 40vw;
            padding: 3px 0 0;
    }

    #genderRadio div:last-child input[type=radio] {
        margin-bottom: 2.1em;
    }

    /* --- Footer --- */
    footer {
        width: 100%;
        padding: 30px;
    }

    footer h2 {
        font-size: 40px;
        letter-spacing: 8px;
        margin-top: 20px;
        margin-bottom: 0;
        padding-bottom: 50px;
    }

    #socials a {
        margin: 0 20px 10px;
    }

}
